@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

/*!* Light theme. *!*/
:root {
    --color-canvas-default: #ffffff;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-border-muted: hsla(210, 18%, 87%, 1);
}

/* Dark theme. */
@media (prefers-color-scheme: dark) {
    :root {
        --color-canvas-default: #0d1117;
        --color-canvas-subtle: #161b22;
        --color-border-default: #30363d;
        --color-border-muted: #21262d;
    }
}

:root {
    @apply select-none cursor-default
}

table th,td {
    border-width: 0 !important;
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 100ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 100ms;
}

@layer components {
    .text-color {
        @apply text-slate-600 dark:text-white
    }

    .flex-flow {
        flex-flow: row;
    }

    .active .text-color,
    .active {
        @apply bg-neutral-100 text-primary
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .text-ellipsis-c {
        @apply whitespace-nowrap text-ellipsis overflow-hidden
    }

    .transition-ml {
        transition-property: margin-left;
    }
}
