@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply select-none cursor-default
}

table th,td {
    border-width: 0 !important;
}


@layer components {
    .text-color {
        @apply text-slate-600 dark:text-white
    }

    .flex-flow {
        flex-flow: row;
    }

    .active .text-color,
    .active {
        @apply bg-neutral-100 text-primary
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .text-ellipsis-c {
        @apply whitespace-nowrap text-ellipsis overflow-hidden
    }
}
